footer{
    background-color: rgba(0, 0, 0, 0.486);
    div h3{
        font-size: 15px;
        color: white;
    }

    div p{
        font-size: 10px;
        color: white;
    }

    i{
        color: white;
        margin-right: 5px;
        font-family: $mainfont;
    }
}