footer{
    background-color: rgba(0, 0, 0, 0.486);
}
 footer div div h3{
        font-size: 15px;
        color: white;
        @include titles-text;
    }

footer div div p{
        font-size: 10px;
        color: white;
    }

footer i{
        color: white;
        margin-right: 5px;
        font-family: $mainfont;
    }


@media screen and (min-width: $break-large) {
footer {
    div h3{
        font-size:2em;
    }
    div {
        p{
        font-size: 1rem;
        padding: 0px 20%;
        }
     }

     .fa{
        font-size: 25px
    }
    
}

}